<br>
<br>
<div class="Flight search">
  <h2>List of all your flights:</h2>

  <% @flights.each do |flight| %>

  <label>Flight Name:</label>
  <%= flight.name %><br>
  <label>Airline Name:</label>
  <%= flight.airline %><br>
  <label>Departure Date:</label>
  <%= flight.date%><br>
  <label>Return Date:</label>
  <%= flight.return_date %><br>
  <label>Origin:</label>
  <%= flight.state %><br>
  <label>Destination:</label> -
  <%= flight.destination_state %>
  <%= button_to "Reserve this flight", flight_reservations_path(flight.id) %>
  <% end %>

<%= button_to "Search for flights", new_search_path, :method => :get %>


</div>
