<h1>Flight saved:</h1>
<%= button_to 'Back to Main Menu', user_path(current_user.id), :method => :get %>


<label>Airline:</label>
<%= @flight.airline %><br>
<label>Departure Date:</label>
<%= @flight.date %><br>
<label>Return Date:</label>
<%= @flight.return_date %><br>
<label>Origin:</label>
<%= @flight.state %> - <label>Destination:</label>
<%= @flight.destination_state %><br>
<label>Price:</label>
<%= @flight.price %></li>

<hr>
