
<h1> Welcome BACK! <%= @user.first_name %> </h1>

  <h3> USER MENU </h3>


 <div> <%= button_to "Edit My Profile", edit_user_path(@user.id), :method => :get%></div>
 <div> <%= button_to "View My Reservations", :method => :get %></div>
 <div> <%= button_to "Book flights", new_search_path, :method => :get %></div>
 <div> <%= button_to "Write Review", :method => :get %></div>
