<h1> Welcome <%= @user.full_name %>!</h1>


  <h3> USER MENU </h3>
<% @my_reviews.each do |rev| %>
  <%= rev.content %>
<% end  %>

 <div> <%= button_to "Edit My Profile", edit_user_path(@user.id), :method => :get%></div>
 <div> <%= button_to "View My Reservations", reservations_path, :method => :get %></div>
 <div> <%= button_to "Book flights", new_search_path, :method => :get %></div>
 <% if current_user.email == @user.email %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
 <div> <%= button_to "Log out", logout_path, :method => :delete %></div>
