
<h1>Your reservations:</h1>

<% @reservations.each do |res| %>
  <label>Flight Name:</label>
  <%= res.flight.name %><br>
  <label>Airline Name:</label>
  <%= res.flight.airline  %><br>
  <label>Origin:</label>
  <%= res.flight.state %><br>
  <label>Destination:</label>
  <%= res.flight.destination_state %><br>
  <label>Departure Date:</label>
  <%= res.flight.date %><br>
  <label>Return Date:</label>
  <%= res.flight.return_date %>

  <% if res.flight.return_date > Date.today %>
    <h4>You can't leave a review yet! Enjoy your trip first!</h4>
  <% else %>
    <%= button_to "Write Review", new_flight_review_path(res.flight.id), :method => :get %>
  <% end %>
<hr>

<% end %>

<%= button_to "Back to Main Menu", user_path(current_user.id), :method => :get %>
