<h1>Flight details: </h1>
<div class="Reservation">
<ol>
  <% @flights_in_cart.each do |flight| %>
    <li>
      <label>Flight Name:</label>
      <%= flight.name %><br>
      <label>Airline:</label>
      <%= flight.airline %><br>
      <label>Origin:</label>
      <%= flight.state %><br>
      <label>Destination:</label>
      <%= flight.destination_state %><br>
      <label>Date:</label>
      <%= flight.date %> -
      <label>Return date:</label>
      <%= flight.return_date %><br>
      <label>Price: $</label>
      <%= flight.price %>
    </li>
    <hr>
  <% end %>
</ol>
</div>



checkbox to associate the user with flight

button to click reserve

confirm that flight has been reserved

link/button to see all reserved flights (users folder)
