<!DOCTYPE html>
<html>
  <head>
    <title>Orbit Airlines</title>
    <link rel="stylesheet" href="styles.css">
    <div class="header">
      <h1 id=main_title>Orbit Travels </h1>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
